/* .box{
    height: 50px;
    width: 50px;
    background-color: grey;
    border: 1px solid black;
    display: inline-block;
} */

/* .container-space-around{
    display: flex;
    justify-content:  space-around;
}



/* .container1{
    display: flex;
    justify-content:  space-between;; 
}

.container2{
    display: flex;
}

.container-height{
    display: flex;
    height: 300px;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
} */


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

.navbar-item{
    padding: 5px;
}

.container-space-between{
    display: flex;
    justify-content:  space-between;
}

.image-brand{
    width: 50px;
    height: 50px;
}

